~$*
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/2030 4500kv with gearbox v2.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/wheel.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/TPU Body.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/Top plate.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/Top cover.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/pin.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/Bottom Plate.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/origanal combat bot TPU.SLDASM
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/48tooth pully_3530 motor combo.SLDASM
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/22mm Motor Mount V1 v1.SLDPRT
2023/Dom/June/Hive Smashin'/Solidworks Parts & Assembely/2030 4500kv with gearbox v2.SLDPRT
